.form_container {
	/* background-image: url(../../assets/images/contact.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: brightness(0.8);
	-webkit-filter: brightness(0.8); */
	min-height: 100vh;
	width: 100%;
	padding-top: var(--header-height);
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;

	.contact {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 40px 40px;
		min-width: 100%;
		max-width: 1200px;
		margin: 0 auto;

		
		@media (min-width: 768px) {
			border-radius: 20px;
			min-width: 90%;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			-ms-border-radius: 20px;
			-o-border-radius: 20px;
}
	}

	.contact h1 {
		text-align: center;
		font-size: 2.5rem;
		color: #d9d9d9;
	}

	.contact-form {
		width: 90%;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		gap: 20px;

		@media (min-width: 768px) {
			width: 70%;
		}

		@media (min-width: 1024px) {
			width: 50%;
			max-width: 600px;
		}
	}

	.form-group {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.form-group label {
		font-size: 1rem;
		color: #fffefe;
		font-weight: 500;
	}

	.form-group input,
	.form-group textarea {
		padding: 12px;
		border: 1px solid #ddd;
		border-radius: 4px;
		font-size: 1rem;
		transition: border-color 0.3s ease;
		background-color: #ffffff;
	}

	.form-group input:focus,
	.form-group textarea:focus {
		outline: none;
		border-color: #007bff;
	}

	.form-group textarea {
		resize: vertical;
		min-height: 120px;
	}

	.contact-form button {
		margin-top: 20px;
		padding: 12px 24px;
		/* background-color: #007bff; */
		/* color: white; */
		border: none;
		border-radius: 4px;
		font-size: 1rem;
		cursor: pointer;
		transition: background-color 0.3s ease;
		align-self: center;
	}

	.contact-form button:hover {
		background-color: #0056b3;
	}

	@media (max-width: 768px) {
		.contact {
			padding: 40px 15px;
		}

		.contact h2 {
			font-size: 2rem;
			margin-bottom: 30px;
		}
	}
}

.success-message {
	color: #fffefe;
	font-weight: 500;
	font-size: 1.2rem;
	text-align: center;
	margin-top: 10px;
	background-color: #36ab49;
	padding: 10px;
	border-radius: 5px;
}