.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 100px;
 height: 100px;
 /* position: absolute;
 top:10px;
 left:10px; */
 
}
body {
  background-color: black;
  max-width: 1400px;
  margin: 0 auto;
}
div {
  margin: 0 auto;
}
h1 {

  color:orange;
  text-align: center;
}

