.clientes {
	padding: 0 20px 20px;

	.clientes_grid {
		display: grid;
		grid-template-columns: 1fr;
		min-height: 400px;
		width: 100%;
		margin: 30px auto;
		gap: 40px;
		@media (min-width: 512px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: 768px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: 1024px) {
			grid-template-columns: repeat(4, 1fr);
		}

		.cliente {
			min-height: 400px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;

			img {
				width: 150px;
			}

			h3 {
				margin-top: 20px;
				font-size: 1.2rem;
				font-weight: 700;
				text-align: center;
				/* color: var(--color-primary); */
			}
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			transition: all 0.3s ease-in-out;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			&:hover {
				box-shadow: 0 8px 16px rgba(252, 2, 2, 0.2);
				transform: translateY(-10px);
				-webkit-transform: translateY(-10px);
				-moz-transform: translateY(-10px);
				-ms-transform: translateY(-10px);
				-o-transform: translateY(-10px);
			}
		}

		p {
			text-align: center;
			font-size: 16px;
			font-weight: 200;
		}
	}
}
